*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --tm--pink: #E53170;
    --tm--black: #0F0E17;
    --tm--email: #2CAFCE;
}

body{
    font-family: 'Fredoka', sans-serif;
}

/* Utility */

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* #region Header */




h1{
    text-align: center;
    margin: 3rem 0;
    color: var(--tm--pink);
    font-size: 2.5rem;
    font-weight: 900;
}



/* #endregion Header */

/* #region Main */

main{
    max-width: 1170px;
    width: 80%;
    margin: auto;
}

main > p{
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 1.2rem;
    
}

/* #endregion Main */



/* #region Cards */


.col{
    float: left;
    width: calc(100% / 3);
    color: white;
    margin-top: 3rem;
    padding: 0 1rem;
}

.card {
    background-color: var(--tm--black);
    box-shadow: 0px 0px 10px #000;
}

.img{
    float: left;
}

h3{
    font-weight: 900;
}

div > p {
    margin: 0.5rem 0;
}

img{
    width: 100px;
    float: left;
}

.details{
    float: left;
    /*height: 100px;*/
    width: calc(100% - 100px);
    padding: 0.5rem;
}

a{
    text-decoration: none;
    color: var(--tm--email);
    font-weight: 400;
}


/* #endregion Cards */
